AutoInc/FACTORY/WebContent/WEB-INF/services/Manufacturing/RegionalSalesWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://autoinc.com/Auto_Regional/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Auto_Regional" targetNamespace="http://autoinc.com/Auto_Regional/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://autoinc.com/Auto_Regional/">
      <xsd:element name="receiveCarsFromManufacture">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="orderId" type="xsd:int"></xsd:element>
          	<xsd:element name="modelEdition" type="xsd:string"></xsd:element>
          	<xsd:element name="modelName" type="xsd:string"></xsd:element>
          	<xsd:element name="modelColor" type="xsd:string"></xsd:element>
          	<xsd:element name="quantity" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveCarsFromManufactureResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="orderId" type="xsd:int" maxOccurs="1" minOccurs="1"/>
          	<xsd:element name="shippingStatus" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="result" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="orderId" type="xsd:int"></xsd:element>
      			<xsd:element name="customerId" type="xsd:int"></xsd:element>
      			<xsd:element name="modelName" type="xsd:string"></xsd:element>
      			<xsd:element name="modelEdition" type="xsd:string"></xsd:element>
      			<xsd:element name="modelColor" type="xsd:string"></xsd:element>
      			<xsd:element name="quantity" type="xsd:int"></xsd:element>
      			<xsd:element name="customer_name" type="xsd:string"></xsd:element>
      			<xsd:element name="customer_address"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="customer_country"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="orderId" type="xsd:int"></xsd:element>
      			<xsd:element name="shipping_status"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="result" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="receiveCarsFromManufactureRequest">
    <wsdl:part element="tns:receiveCarsFromManufacture" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveCarsFromManufactureResponse">
    <wsdl:part element="tns:receiveCarsFromManufactureResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveOrderRequest">
  	<wsdl:part name="parameters" element="tns:receiveOrder"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveOrderResponse">
  	<wsdl:part name="parameters" element="tns:receiveOrderResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegionalSalesWSDLFile">
    <wsdl:operation name="receiveCarsFromManufacture">
      <wsdl:input message="tns:receiveCarsFromManufactureRequest"/>
      <wsdl:output message="tns:receiveCarsFromManufactureResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveOrder">
    	<wsdl:input message="tns:receiveOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:receiveOrderResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>    <wsdl:binding name="Auto_RegionalSOAP"
  	type="tns:RegionalSalesWSDLFile">




  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="receiveCarsFromManufacture">




  		<soap:operation
  			soapAction="http://autoinc.com/Auto_Regional/receiveCarsFromManufacture" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="receiveOrder">

  		<soap:operation
  			soapAction="http://autoinc.com/Auto_Regional/receiveOrder" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegionalSalesWSDLFile">
    <wsdl:port binding="tns:Auto_RegionalSOAP" name="Auto_RegionalSOAP">
      <soap:address location="http://localhost:8080/Auto_Regional/services/Auto_Regional"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
