AutoInc/FACTORY/WebContent/WEB-INF/services/Manufacturing/REResupplyWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://supplier.com/REResupplyWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="REResupplyWS" targetNamespace="http://supplier.com/REResupplyWS/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://supplier.com/REResupplyWS/">
      <xsd:element name="ReserveStockOperation">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="orderId" type="xsd:int" />
          	<xsd:element name="partName" type="xsd:string"></xsd:element>
          	<xsd:element name="quantity" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReserveStockOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="available" type="xsd:boolean" />
          	<xsd:element name="deliveryDate" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ReserveStockOperationRequest">
    <wsdl:part element="tns:ReserveStockOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ReserveStockOperationResponse">
    <wsdl:part element="tns:ReserveStockOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="REResupplyWS">
    <wsdl:operation name="ReserveStockOperation">
      <wsdl:input message="tns:ReserveStockOperationRequest"/>
      <wsdl:output message="tns:ReserveStockOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="REResupplyWSSOAP" type="tns:REResupplyWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ReserveStockOperation">
      <soap:operation soapAction="http://supplier.com/REResupplyWS/ReserveStockOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="REResupplyWS">
    <wsdl:port binding="tns:REResupplyWSSOAP" name="REResupplyWSSOAP">
      <soap:address location="http://localhost:8080/RE_SUPPLIER/services/REResupplyWS/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
