AutoInc/auto_regional/WebContent/WEB-INF/services/CarInventoryWSDLFile/META-INF/RegionalSalesWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Auto_Regional" targetNamespace="http://autoinc.com/Auto_Regional/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://autoinc.com/Auto_Regional/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://autoinc.com/Auto_Regional/">
      <xsd:element name="receiveCarsFromManufacture">
        <xsd:complexType>
          <xsd:sequence>

          	<xsd:element name="orderId" type="xsd:int"/>
          	<xsd:element name="model_id" type="xsd:int"/>
          	<xsd:element name="quantity" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveCarsFromManufactureResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="orderId" type="xsd:int"/>
          	<xsd:element name="shippingStatus" type="xsd:string"/>
          	<xsd:element name="result" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="order_id" type="xsd:int"/>
      			<xsd:element name="customer_id" type="xsd:int"/>
      			<xsd:element name="model_id" type="xsd:int"/>
      			<xsd:element name="quantity" type="xsd:int"/>
      			<xsd:element name="customer_name" type="xsd:string"/>
      			<xsd:element name="customer_address" type="xsd:string">
      			</xsd:element>
      			<xsd:element name="customer_country" type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="orderId" type="xsd:int"/>
      			<xsd:element name="shipping_status" type="xsd:string">
      			</xsd:element>
      			<xsd:element name="result" type="xsd:boolean"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="receiveCarsFromManufactureRequest">
    <wsdl:part name="parameters" element="tns:receiveCarsFromManufacture">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveCarsFromManufactureResponse">
    <wsdl:part name="parameters" element="tns:receiveCarsFromManufactureResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveOrderRequest">
    <wsdl:part name="parameters" element="tns:receiveOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="receiveOrderResponse">
    <wsdl:part name="parameters" element="tns:receiveOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RegionalSalesWSDLFile">
    <wsdl:operation name="receiveCarsFromManufacture">
      <wsdl:input message="tns:receiveCarsFromManufactureRequest">
    </wsdl:input>
      <wsdl:output message="tns:receiveCarsFromManufactureResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveOrder">
      <wsdl:input message="tns:receiveOrderRequest">
    </wsdl:input>
      <wsdl:output message="tns:receiveOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Auto_RegionalSOAP" type="tns:RegionalSalesWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="receiveCarsFromManufacture">
      <soap:operation soapAction="http://autoinc.com/Auto_Regional/receiveCarsFromManufacture"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveOrder">
      <soap:operation soapAction="http://autoinc.com/Auto_Regional/receiveOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegionalSalesWSDLFile">
    <wsdl:port name="Auto_RegionalSOAP" binding="tns:Auto_RegionalSOAP">
      <soap:address location="http://localhost:8080/Auto_Regional/services/Auto_Regional"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
