AutoInc/auto_headquaters/resources/OrderCancelService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OrderCancel" targetNamespace="buffalocancel.autoinc.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="buffalocancel.autoinc.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="buffalocancel.autoinc.com" xmlns="http://www.w3.org/2001/XMLSchema">

            <element name="OrderCancelRequest">
                <complexType>
                    <sequence>
                    	<element name="transactionId" type="int"/>

                        <element name="orderId" type="int"/>
                        <element name="customerId" type="int"/>
                    </sequence>
                </complexType>
            </element>

            <element name="OrderCancelResponse">
                <complexType>
                    <sequence>
                    	<element name="resultTransaction" type="boolean"/>
                    	<element name="resultRESales" type="boolean"/>
                    	<element name="resultShipping" type="boolean"/>
                    	<element name="comment" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
  </types>
  <message name="OrderCancelResponseMessage">
    <part name="payload" element="tns:OrderCancelResponse">
    </part>
  </message>
  <message name="OrderCancelRequestMessage">
    <part name="payload" element="tns:OrderCancelRequest">
    </part>
  </message>
  <portType name="OrderCancel">
    <operation name="process">
      <input message="tns:OrderCancelRequestMessage">
    </input>
      <output message="tns:OrderCancelResponseMessage">
    </output>
    </operation>
  </portType>
  <binding name="OrderCancelBinding" type="tns:OrderCancel">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="process">
      <soap:operation soapAction="buffalocancel.autoinc.com/process"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OrderCancelService">
    <port name="OrderCancelPort" binding="tns:OrderCancelBinding">
      <soap:address location="http://localhost:8080/ode/processes/OrderCancel"/>
    </port>
  </service>
    <plnk:partnerLinkType name="BankPLT">
    <plnk:role name="doCancelTransaction" portType="wsdl:CancelTransaction"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RESalesPLT">
    <plnk:role name="doCancelRESales" portType="wsdl1:RegionalSalesWSDLFile"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ShippingPLT">
    <plnk:role name="CancelShipping" portType="wsdl2:AutoShippingWS"/>
  </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OrderCancel">
        <plnk:role name="OrderCancelProvider" portType="tns:OrderCancel"/>
    </plnk:partnerLinkType>
</definitions>
